# Unwanted files
target/
build/

book/book
target
*.log

# Backup files
.DS_Store
thumbs.db
*~
*.rs.bk
*.swp

# IDE / Editor files
*.iml
.vscode

# Thread profiler output
thread_profile.json

rust-toolchain
