language: rust
os:
  - linux
  - osx
  - windows

rust:
  - stable
  - nightly

jobs:
  fast_finish: true
  allow_failures:
    - rust: nightly

env:
  RUST_BACKTRACE=1

cache: cargo

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - libfreetype6-dev
      - libexpat1-dev
      - libxcb-composite0-dev
      - libssl-dev
      - libx11-dev
      - cmake
      - gcc
      - binutils-dev
      - libiberty-dev
      - pkg-config
      - openssl
      - libasound2-dev
      - build-essential
      - python3

script:
  - cargo clean
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    cargo build --verbose --all --all-targets --features "metal"
    else
    cargo build --verbose --all --all-targets;
    fi
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    cargo test --verbose --all --features "metal"
    else
    cargo test --verbose --all
    fi

