language: rust
os:
  - linux
  - osx
  - windows

rust:
  - stable
  - beta
  - nightly

jobs:
  fast_finish: true
  allow_failures:
    - rust: beta
    - rust: nightly

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - libfreetype6-dev
      - libexpat1-dev
      - libxcb-composite0-dev
      - libssl-dev
      - libx11-dev
      - cmake
      - gcc
      - binutils-dev
      - libiberty-dev
      - pkg-config
      - openssl
      - libasound2-dev
      - build-essential
      - python3

script:
  - cargo clean
  - cargo build --verbose --all --all-targets
  - cargo test --verbose --all --no-run
