on:
  schedule:
    - cron:  '0 5 * * *'

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install nightly toolchain with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: nightly
          override: true
          components: rustfmt, clippy
      - name: audit security
        uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  build-on-ubunutu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependecies
        run: sudo apt install gcc pkg-config openssl libasound2-dev cmake build-essential python3 libfreetype6-dev libexpat1-dev libxcb-composite0-dev libssl-dev libx11-dev
      - name: Install nightly toolchain with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: nightly
          override: true
          components: rustfmt, clippy
      - name: Cargo Fmt
        run: cargo fmt -- --check
      - name: Cargo Clippy
        run: |
          chmod +x run_clippy.sh
          ./run_clippy.sh
      - name: Build debug
        run: cargo build --package amethyst-starter-2d --bin amethyst-starter-2d --verbose
      - name: Build release
        run: cargo build --package amethyst-starter-2d --bin amethyst-starter-2d --verbose --release
      - name: Run tests
        run: cargo test --all --verbose
  build-on-mac:
    name: Build on macOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install nightly toolchain with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: nightly
          override: true
          components: rustfmt, clippy
      - name: Cargo Fmt
        run: source $HOME/.cargo/env && cargo fmt -- --check
      - name: Install Bash4
        run: |
          brew install bash
          sudo bash -c 'echo /usr/local/bin/bash >> /etc/shells'
          sudo dscl . -change /Users/$USER UserShell /bin/bash /usr/local/bin/bash
      - name: Cargo Clippy
        run: |
          source $HOME/.cargo/env
          rustup component add clippy --toolchain=nightly
          chmod +x run_clippy.sh
          ./run_clippy.sh
      - name: Build debug
        run: source $HOME/.cargo/env && cargo build --package amethyst-starter-2d --bin amethyst-starter-2d --verbose
      - name: Build release
        run: source $HOME/.cargo/env && cargo build --package amethyst-starter-2d --bin amethyst-starter-2d --verbose --release
      - name: Run tests
        run: source $HOME/.cargo/env && cargo test --all --verbose
  build-on-windows:
    name: Build on Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install nightly toolchain with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: nightly
          override: true
          components: rustfmt, clippy
      - name: Cargo Update
        run: cargo update
      - name: Cargo Fmt
        run: cargo fmt -- --check
      - name: Cargo Clippy
        run: powershell -ExecutionPolicy ByPass -File .\run_clippy.ps1
      - name: Build debug
        run: cargo build --package amethyst-starter-2d --bin amethyst-starter-2d --verbose
      - name: Build release
        run: cargo build --package amethyst-starter-2d --bin amethyst-starter-2d --verbose --release
      - name: Run tests
        run: cargo test --all --verbose