on: pull_request

jobs:
  check-on-ubunutu:
    name: Check on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependecies
        run: sudo apt install gcc pkg-config openssl libasound2-dev cmake build-essential python3 libfreetype6-dev libexpat1-dev libxcb-composite0-dev libssl-dev libx11-dev
      - name: Install toolchain with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Cargo Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-targets -- -W clippy::absurd_extreme_comparisons   -W clippy::almost_swapped   -W clippy::approx_constant   -W clippy::assertions_on_constants   -W clippy::assign_op_pattern   -W clippy::bad_bit_mask   -W clippy::blacklisted_name   -W clippy::block_in_if_condition_expr   -W clippy::block_in_if_condition_stmt   -W clippy::bool_comparison   -W clippy::borrow_interior_mutable_const   -W clippy::borrowed_box   -W clippy::box_vec   -W clippy::boxed_local   -W clippy::builtin_type_shadow   -W clippy::cargo_common_metadata   -W clippy::cast_lossless   -W clippy::cast_possible_truncation   -W clippy::cast_possible_wrap   -W clippy::cast_precision_loss   -W clippy::cast_ptr_alignment   -W clippy::cast_ref_to_mut   -W clippy::cast_sign_loss   -W clippy::char_lit_as_u8   -W clippy::chars_last_cmp   -W clippy::chars_next_cmp   -W clippy::checked_conversions   -W clippy::clone_double_ref   -W clippy::clone_on_copy   -W clippy::clone_on_ref_ptr   -W clippy::cmp_nan   -W clippy::cmp_null   -W clippy::cmp_owned   -W clippy::cognitive_complexity   -W clippy::collapsible_if   -W clippy::copy_iterator   -W clippy::correctness   -W clippy::crosspointer_transmute   -W clippy::dbg_macro   -W clippy::decimal_literal_representation   -W clippy::declare_interior_mutable_const   -W clippy::default_trait_access   -W clippy::deprecated_cfg_attr   -W clippy::deprecated_semver   -W clippy::deref_addrof   -W clippy::derive_hash_xor_eq   -W clippy::diverging_sub_expression   -W clippy::doc_markdown   -W clippy::double_comparisons   -W clippy::double_neg   -W clippy::drop_bounds   -W clippy::drop_copy   -W clippy::drop_ref   -W clippy::duplicate_underscore_argument   -W clippy::duration_subsec   -W clippy::else_if_without_else   -W clippy::empty_enum   -W clippy::empty_line_after_outer_attr   -W clippy::empty_loop   -W clippy::enum_clike_unportable_variant   -W clippy::enum_glob_use   -W clippy::enum_variant_names   -W clippy::eq_op   -W clippy::erasing_op   -W clippy::eval_order_dependence   -W clippy::excessive_precision   -W clippy::expect_fun_call   -W clippy::expl_impl_clone_on_copy   -W clippy::explicit_counter_loop   -W clippy::explicit_into_iter_loop   -W clippy::explicit_iter_loop   -W clippy::explicit_write   -W clippy::extra_unused_lifetimes   -W clippy::fallible_impl_from   -W clippy::filter_map   -W clippy::filter_map_next   -W clippy::filter_next   -W clippy::find_map   -W clippy::flat_map_identity   -W clippy::float_cmp   -W clippy::float_cmp_const   -W clippy::fn_to_numeric_cast   -W clippy::fn_to_numeric_cast_with_truncation   -W clippy::for_kv_map   -W clippy::for_loop_over_option   -W clippy::for_loop_over_result   -W clippy::forget_copy   -W clippy::forget_ref   -W clippy::get_last_with_len   -W clippy::get_unwrap   -W clippy::identity_conversion   -W clippy::identity_op   -W clippy::if_let_some_result   -W clippy::if_not_else   -W clippy::if_same_then_else   -W clippy::ifs_same_cond   -W clippy::implicit_hasher   -W clippy::inconsistent_digit_grouping   -W clippy::indexing_slicing   -W clippy::ineffective_bit_mask   -W clippy::infallible_destructuring_match   -W clippy::infinite_iter   -W clippy::inherent_to_string_shadow_display   -W clippy::inline_always   -W clippy::inline_fn_without_body   -W clippy::int_plus_one   -W clippy::integer_division   -W clippy::into_iter_on_ref   -W clippy::invalid_regex   -W clippy::invalid_upcast_comparisons   -W clippy::items_after_statements   -W clippy::iter_cloned_collect   -W clippy::iter_next_loop   -W clippy::iter_nth   -W clippy::iter_skip_next   -W clippy::iterator_step_by_zero   -W clippy::just_underscores_and_digits   -W clippy::large_digit_groups   -W clippy::large_enum_variant   -W clippy::len_without_is_empty   -W clippy::len_zero   -W clippy::let_and_return   -W clippy::let_unit_value   -W clippy::linkedlist   -W clippy::logic_bug   -W clippy::main_recursion   -W clippy::manual_memcpy   -W clippy::manual_saturating_arithmetic   -W clippy::many_single_char_names   -W clippy::map_clone   -W clippy::map_entry   -W clippy::map_flatten   -W clippy::match_as_ref   -W clippy::match_bool   -W clippy::match_overlapping_arm   -W clippy::match_ref_pats   -W clippy::match_same_arms   -W clippy::match_wild_err_arm   -W clippy::maybe_infinite_iter   -W clippy::mem_discriminant_non_enum   -W clippy::mem_forget   -W clippy::mem_replace_option_with_none   -W clippy::mem_replace_with_uninit   -W clippy::min_max   -W clippy::misrefactored_assign_op   -W clippy::missing_const_for_fn   -W clippy::missing_inline_in_public_items   -W clippy::missing_safety_doc   -W clippy::mistyped_literal_suffixes   -W clippy::mixed_case_hex_literals   -W clippy::module_inception   -W clippy::modulo_one   -W clippy::multiple_inherent_impl   -W clippy::mut_from_ref   -W clippy::mut_mut   -W clippy::mut_range_bound   -W clippy::mutex_atomic   -W clippy::mutex_integer   -W clippy::naive_bytecount   -W clippy::needless_bool   -W clippy::needless_borrow   -W clippy::needless_borrowed_reference   -W clippy::needless_collect   -W clippy::needless_continue   -W clippy::needless_lifetimes   -W clippy::needless_pass_by_value   -W clippy::needless_range_loop   -W clippy::needless_update   -W clippy::neg_cmp_op_on_partial_ord   -W clippy::neg_multiply   -W clippy::never_loop   -W clippy::new_ret_no_self   -W clippy::new_without_default   -W clippy::no_effect   -W clippy::non_ascii_literal   -W clippy::nonminimal_bool   -W clippy::nonsensical_open_options   -W clippy::not_unsafe_ptr_arg_deref   -W clippy::ok_expect   -W clippy::op_ref   -W clippy::option_and_then_some   -W clippy::option_map_or_none   -W clippy::option_map_unit_fn   -W clippy::option_map_unwrap_or   -W clippy::option_map_unwrap_or_else   -W clippy::option_option   -W clippy::or_fun_call   -W clippy::out_of_bounds_indexing   -W clippy::overflow_check_conditional   -W clippy::panic_params   -W clippy::panicking_unwrap   -W clippy::partialeq_ne_impl   -W clippy::path_buf_push_overwrite   -W clippy::possible_missing_comma   -W clippy::precedence   -W clippy::print_literal   -W clippy::print_stdout   -W clippy::print_with_newline   -W clippy::println_empty_string   -W clippy::ptr_arg   -W clippy::ptr_offset_with_cast   -W clippy::pub_enum_variant_names   -W clippy::question_mark   -W clippy::range_minus_one   -W clippy::range_plus_one   -W clippy::range_zip_with_len   -W clippy::redundant_clone   -W clippy::redundant_closure   -W clippy::redundant_closure_call   -W clippy::redundant_closure_for_method_calls   -W clippy::redundant_field_names   -W clippy::redundant_pattern   -W clippy::redundant_pattern_matching   -W clippy::redundant_static_lifetimes   -W clippy::ref_in_deref   -W clippy::regex_macro   -W clippy::replace_consts   -W clippy::result_map_unit_fn   -W clippy::result_map_unwrap_or_else   -W clippy::result_unwrap_used   -W clippy::reverse_range_loop   -W clippy::search_is_some   -W clippy::serde_api_misuse   -W clippy::shadow_reuse   -W clippy::shadow_same   -W clippy::shadow_unrelated   -W clippy::short_circuit_statement   -W clippy::should_implement_trait   -W clippy::similar_names   -W clippy::single_char_pattern   -W clippy::single_match   -W clippy::single_match_else   -W clippy::slow_vector_initialization   -W clippy::string_add   -W clippy::string_add_assign   -W clippy::string_extend_chars   -W clippy::string_lit_as_bytes   -W clippy::suspicious_arithmetic_impl   -W clippy::suspicious_assignment_formatting   -W clippy::suspicious_else_formatting   -W clippy::suspicious_map   -W clippy::suspicious_op_assign_impl   -W clippy::temporary_assignment   -W clippy::temporary_cstring_as_ptr   -W clippy::too_many_arguments   -W clippy::too_many_lines   -W clippy::toplevel_ref_arg   -W clippy::transmute_bytes_to_str   -W clippy::transmute_int_to_bool   -W clippy::transmute_int_to_char   -W clippy::transmute_int_to_float   -W clippy::transmute_ptr_to_ptr   -W clippy::transmute_ptr_to_ref   -W clippy::transmuting_null   -W clippy::trivial_regex   -W clippy::trivially_copy_pass_by_ref   -W clippy::try_err   -W clippy::type_complexity   -W clippy::type_repetition_in_bounds   -W clippy::unicode_not_nfc   -W clippy::unimplemented   -W clippy::uninit_assumed_init   -W clippy::unit_arg   -W clippy::unit_cmp   -W clippy::unknown_clippy_lints   -W clippy::unnecessary_cast   -W clippy::unnecessary_filter_map   -W clippy::unnecessary_fold   -W clippy::unnecessary_mut_passed   -W clippy::unnecessary_operation   -W clippy::unnecessary_unwrap   -W clippy::unneeded_field_pattern   -W clippy::unreadable_literal   -W clippy::unsafe_removed_from_name   -W clippy::unseparated_literal_suffix   -W clippy::unused_io_amount   -W clippy::unused_label   -W clippy::use_debug   -W clippy::use_self   -W clippy::used_underscore_binding   -W clippy::useless_asref   -W clippy::useless_attribute   -W clippy::useless_format   -W clippy::useless_let_if_seq   -W clippy::useless_transmute   -W clippy::useless_vec   -W clippy::vec_box   -W clippy::verbose_bit_mask   -W clippy::while_immutable_condition   -W clippy::while_let_loop   -W clippy::while_let_on_iterator   -W clippy::wildcard_dependencies   -W clippy::write_literal   -W clippy::write_with_newline   -W clippy::writeln_empty_string   -W clippy::wrong_pub_self_convention   -W clippy::wrong_self_convention   -W clippy::wrong_transmute   -W clippy::zero_divided_by_zero   -W clippy::zero_prefixed_literal   -W clippy::zero_ptr   -W clippy::zero_width_space   -W renamed_and_removed_lints
      - name: Run Tests
        uses: actions-rs/cargo@v1
          with:
            command: test
            args: --all-targets
      - name: Build debug
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-targets
  check-on-windows:
    name: Check on Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install toolchain with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Cargo Clippy
        run: powershell -ExecutionPolicy ByPass -File .\run_clippy.ps1
  build-on-ubunutu:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install Dependecies
        run: sudo apt install gcc pkg-config openssl libasound2-dev cmake build-essential python3 libfreetype6-dev libexpat1-dev libxcb-composite0-dev libssl-dev libx11-dev
      - name: Install toolchain with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Build release
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-targets --release
      - name: Make Build Directory
        run: mkdir build
      - name: Copy Resources to Build Directory
        run: cp -a ./resources ./build/
      - name: Copy Build Artifacts
        run: find ./target/release/ -maxdepth 1 -type f -print0 | xargs -0 cp -t ./build
      - uses: actions/upload-artifact@master
        with:
          name: "UbuntuBuild"
          path: "build/"
  build-on-mac:
    name: Build on macOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install toolchain with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Build release
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-targets --release
      - name: Make Build Directory
        run: mkdir build
      - name: Copy Resources to Build Directory
        run: cp -R ./resources ./build/
      - name: Copy Build Artifacts
        run: find ./target/release/ -maxdepth 1 -type f -print0 | xargs -0 -J % cp % ./build
      - uses: actions/upload-artifact@master
        with:
          name: "MacBuild"
          path: "build/"
  build-on-windows:
    name: Build on Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install toolchain with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Build release
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --all-targets --release
      - name: Copy Build Artifacts
        run: powershell -ExecutionPolicy ByPass -File .\copy_build_artifact.ps1
      - uses: actions/upload-artifact@master
        with:
          name: "WindowsBuild"
          path: "build/"